.form{
    background-color: transparent;
    padding: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.form input {
    padding: 20px;
    background-color: #182237a2;
    color: var(--text);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid #2e374a;
    width: 100%;
    z-index: 1;
}

.button{
    padding: 20px;
    background-color: #5d57c991;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    z-index: 1;
}